body {
  background-color: black;
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dft0cktie/image/upload/v1656886504/giphy_du4oxx.gif");
  background-size: 100% auto;
  background-position: top;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h1,h2,h3,h4,h5,h6,p, .card-list{
  color: rgb(192, 192, 192);
  /* -webkit-text-fill-color: transparent; */
  background: -webkit-linear-gradient(transparent, transparent),
    url("https://res.cloudinary.com/dft0cktie/image/upload/v1654301152/shiny-metallic-background_ctjdgr.jpg")
      repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  z-index: 1;
}

h1,h2,h3,h4,h5,h6,p,li,span {
  font-family: "Commissioner", sans-serif;
}


/* Components */
/* header footer */

.nav-container{
  height: 70px;
  background-color: rgba(0, 0, 0, 0.9);
}

.search-bar {
  /* background-color: rgba(0, 0, 0, 0.9); */
  border-radius: 15px;
  color: rgb(75, 74, 74);
  margin: 2px 5px 1px 10px;
  text-indent: 5px;
  padding: 5px;
}

.header,
.socials {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.header{
  margin-top: 0;
  justify-content: space-between;

}

.footer{
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.socials{
  justify-content: space-around;
margin-bottom: 0;
font-size: 20px;
}
/* roulette */
.roulette{
  color: silver;
}
link{
  color: rgba(192, 192, 192, 0.596);
}

.search-drink {
  background-color: rgba(0, 0, 0, 0.2);
  /* border: none; */
  border-radius: 15px;
}

.search-drink  {
  color: white;
  padding: 1px;
}

/* button and scroll container for search name api */

.scroll-list{
  display: flex;
justify-content: center;
}

.scroll{
  font-size: 1.5rem;
}

.counter{
  padding: 10px 15px;
}

.direction{
  height: 20px;
  width: auto;
  color: white;
  padding: 20px;
}
/* home page */

.Title {
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  padding: 45px 0;
}

/* main container for cards */
.main-container {
  display: flex;
  align-items: center;
  max-height: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

/* image contianer */

img {
  text-align: center;
  max-width: 90%;
  margin-left: 3%;
  /* margin-top: 15%; */
  border: 4px solid rgba(0, 0, 0, 0.432);
  border-radius: 5px;
}


.image-container {
  width: 48%;
  text-align: center;
}

/* card contianer */

.card {
  width: 48%;
  /* left: 10%; */
  margin: 2%;
  background-color: rgba(0, 0, 0, 0.7);
  /* color: silver; */
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.card-list{
  padding: 0;
}
/* ul {
  padding: 0.2rem;
} */
li {
  list-style: none;
}

/* footer */
/* links and nav that highlight */

a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
a:active {
  color: inherit;
  text-decoration: none;
}

.selection {
  font-size: 1.35rem;
  font-weight: 600;
  color: rgb(114, 114, 114);
  text-align: center;
  margin: 10px;
}

.selection:hover {
  color: silver;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(99, 99, 99),
    0 0 0.2em rgb(99, 99, 99);
}

.selection::after {
  translate: 20px 10px;
}
.selection:active {
  color: rgb(236, 232, 232);
}
/* pages */
.notFound-container{
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 80%;
  text-align: center;
  margin: 10rem 5rem;
  padding: 1rem;
}


.notFound-redirect{
  
color: red;}

